// Utils
@import "./utils/normalize";

// App
@import "./app/base";
@import "./app/main";

// Components
@import "./components/loading";

.contactMe {
  display: inline-flex;
  position: absolute;
  top: 10px;
  width: 100%;
}

.contactMe button {
  margin: 0 auto;
}
